extends index

block title
	title Final Project - Log in

block content
	body
		#login-container
			img#bird-wrapper(src='/images/bird.gif')
			#info-wrapper
				a.login-button(href='/auth/twitter') Log in via Twitter