extends index

block title
	title Final Project - Error

block content
	body
		#login-container
			img#bird-wrapper(src='/images/broken.png')
			#info-wrapper
				a.login-button(href='/') You must login first